.card-container {
  width: 25%;
  margin: 1.8rem;
}

.card-section{
  width: 100%;
}

.card-header {
  width: 100%;
}

.container-title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
    margin: 0;
    font-size: 1.3em;
    color: $secondary;
    font-weight: 500;
}

.create-at {
  font-size: 0.8em;
  font-weight: 400;
  color: $secondary;
  margin-top: 0;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: end;

  margin-top: 2.5rem;
}

.button {
  display: flex;
}

