
.title-container {
  margin-top: 1rem;
  p {
    margin-left: 1.8rem;
    font-size: 2em;
    color: $secondary;
    font-weight:  600;
  }
}

.loading {
  display:flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.card {
  display: flex;
}


